.search-butt {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

#agent-company {
    .design {
        background-color: white;
        padding: 20px;
        width: 100%;
        border-radius: 20px;
        box-sizing: border-box;
        margin-bottom: 20px;

        .headChart{
            display: flex;
            text-align: center;
            margin-bottom: 10px;
        }

        .adm {
            
            margin-left: 10px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 16px;
            /* identical to box height, or 133% */


            /* Light mode/Neutral800 */
            margin-bottom: -20px;
            color: #32324D;
        }

        .list-active {
            display: flex;
            list-style: none;
            padding: 0;
            margin: 0;

            li + li {
                margin-left: 20px;
            }
        }

    }
}
