@import "../../variables.scss";

.lesson {
    padding: 20px;
    border: 1px solid $footer-color;
    border-radius: 20px;
    box-shadow: 0 10px 30px 0 rgba(#000, 0.5);
    margin-bottom: 20px;

    &.active {
        background-color: $footer-color;
    }

    > h3 {
        font-weight: 700;
        word-break: break-word;
    }

    > p {
        font-size: 0.8em;
        color: $light-text-color;
        word-break: break-word;
    }
}
