@import "../../../../variables.scss";

#webinar-modal {
    .details {
        .title {
            h1 {
                font-weight: 700;
                text-transform: uppercase;
            }

            p {
                color: $light-text-color;
            }
        }

        .time {
            font-size: 0.8em;
            color: $light-gold;
        }
    }

    .video {
        border-radius: 20px;
        overflow: hidden;
    }
}
