#call-admin-modal{
    display: flex;
    justify-content: space-around;

    .secDiv{
     display: flex;
     flex-direction: column;
     margin-left: 50px;
    .form{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        overflow: hidden;

        Form{
        background-color: grey;
        box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
        display: flex;
        }

        .inputs{
            label{
            margin-bottom:-14px ;
            }
        }

        h2{
            font-size: 12px;
        }
    }

    .call_information{
        margin-right: 10px;
        border:none;
        background-color: white;
        border-radius: 10px;
        padding: 30px;
        top: 40px;
        bottom:40px;
        right: 40px;
        overflow-y:hidden;
        overflow-x:hidden;
        box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);

       
    }
    }
    .company_information{
        width: 15%;
        margin-left: 10px;
        border:none;
        background-color: white;
        border-radius: 10px;
        padding: 30px;
        top: 40px;
        bottom:40px;
        left: 342px;
        position: fixed;
        overflow-y:hidden;
        overflow-x:hidden;
        box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);

    }
}