#call-admin-modal {

    .posDiv {
        display: flex;
        justify-content: space-around;

        #info {
            background: #FFFFFF;

            border: 0.5px solid #EAEAEF;

            box-shadow: 0px 1px 4px rgba(33, 33, 52, 0.1);
            border-radius: 20px;
            width: 37vw;
            height: 85vh;
            display: flex;
            flex-direction: column;
            padding:8px;

            .call_information{
                margin-bottom: 35vh;
            }
            
            .company_information{
                border-top: 1px solid #EAEAEF;;
                padding-top: 10px;
            }
        }

        .secDiv {
            background: #FFFFFF;

            border: 0.5px solid #EAEAEF;

            box-shadow: 0px 1px 4px rgba(33, 33, 52, 0.1);
            border-radius: 20px;
            height: 85vh;
            padding:8px;
            text-align: center;
            align-items: center;



            



            .form {
                display: flex;
                flex-direction: column;
                text-align: center;
                align-items: center;
                padding: 20px;
                border-radius: 20px;
                background-color: #FFFFFF;
                width: 37vw;
                height: 75vh;
                overflow: hidden;




                
                .inputFields{
                    width: 30vw;
                    height: 7vh;
                    text-align: center;
                    align-items: center;
                    justify-content: center;
                    margin-left: 20%;
                    margin-top: -20px;
                }

                .inputDesc{
                    width: 30vw;
                    height: 2vh;
                    text-align: center;
                    align-items: center;
                    justify-content: center;
                    margin-left: 20%;
                    margin-top: -17px;
                    margin-bottom: 50px;
                }


                .toggle {
                    height: 32px;
                    margin-top: -10px;


                    .Mui-selected{
                        color: #6BE29A;
                        background-color: white;
                    }
                    
                    #gender {
                        height: 32px;
                        margin-top: 10px;
                        margin-bottom: 10px;
                    }
                }

                .custom {
                    height: 220px;
                    width: 25vw;
                    margin-top: 10%;
                    margin-left: 6%;

                }

                .header {
                    font-size: 20px;
                }

                .adm {
                    width: 56px;
                    height: 16px;

                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 16px;
                    /* identical to box height, or 133% */


                    /* Light mode/Neutral800 */
                    margin-bottom: -20px;
                    color: #32324D;
                }

                .inpWidth {
                    width: 240px;
                }

                Form {
                    background-color: grey;
                    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
                    display: flex;
                    width: 100%;
                    .custom {
                        height: 15vh;
                        overflow: scroll;
                    }

                }

                .inputs {
                    label {
                        margin-bottom: -14px;
                    }
                }

                h2 {
                    font-size: 12px;
                }
            }


        }


    }
}