@import '../../variables.scss';

#page {
    text-align: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    background: #00416A;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E4E5E6, #00416A);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E4E5E6, #00416A);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    #auth {
        padding: 10px;
        height: 50vh;
        width: 50vw;
        overflow: hidden;
        overflow-y: auto;
        margin: auto;
        border-radius: 10px;
        border: none;
        background: #01273f;
        box-shadow: none;
        display: flex;
        align-items: center;
        flex-direction: column;
        >h1 {
            font-family: Helvetica, sans-serif;
            color: white
        }

        

        .sign-box {
            width: 50%;
            margin: auto;
            
            >Button {
               color: white;
            } 
        }



    }
}