@import '../../variables.scss';

#page {
    text-align: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    background: #F6F6F9;



    #auth {
        box-sizing: border-box;

        height: 544px;
        width: 560px;
        overflow: hidden;
        overflow-y: auto;
        margin: auto;
        background: white;
        box-shadow: none;
        display: flex;
        align-items: center;
        flex-direction: column;
        border: 0.5px solid #EAEAEF;
        box-shadow: 0px 1px 4px rgba(33, 33, 52, 0.1);
        border-radius: 20px;
        border: 0.5px solid #EAEAEF;



        .logo-image {
            margin-top: 48px;

            padding-top: 15px;
            padding-bottom: 15px;
        }



        #head {
            width: 440px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            margin-top: 16px;
            margin-bottom: -20px;
            color: #32324D;
        }

        #underHeader {
            width: 245px;
            height: 24px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #666687;
        }

        .form{
            width: 22vw;
        }
        .sign-box {
            margin: auto;

            >Button {
                color: white;
            }

            .form-box {
                margin-left: 7px;
                display: flex;
                flex-direction: column;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 16px;
                /* identical to box height, or 114% */

                display: flex;
                align-items: flex-end;

                /* Light mode/Neutral0 */
                color: #FFFFFF;

            }
        }



    }
}