.Dashboard {
    > h1 {
        margin-top: 0;
    }

    > p {
        color: #666687;
    }

    .design {
        background-color: white;
        padding: 35px;
        width: 700px;
        border-radius: 20px;

        .headChart{
            display: flex;
            text-align: center;
        }
        .adm {
            
            margin-left: 10px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 16px;
            /* identical to box height, or 133% */


            /* Light mode/Neutral800 */
            margin-bottom: -20px;
            color: #32324D;
        }

    }

    .design + .design {
        margin-top: 20px;
    }
}
