.Dashboard {
    overflow: hidden;
    overflow-x: scroll;

    > h1 {
        margin-top: 0;
    }

    > p {
        color: #666687;
    }

    .design {
        background-color: white;
        padding: 35px;
        width: 700px;
        border-radius: 20px;

        .headChart{
            display: flex;
            text-align: center;
        }
        .adm {
            
            margin-left: 10px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 16px;
            /* identical to box height, or 133% */


            /* Light mode/Neutral800 */
            margin-bottom: -20px;
            color: #32324D;
        }

        .list-active {
            display: flex;
            list-style: none;
            padding: 0;
            margin: 0;

            li + li {
                margin-left: 20px;
            }
        }

    }

    .design + .design {
        margin-top: 20px;
    }

    .status {
        display: inline-block;
        width: 12px;
        height: 12px;
        border-radius: 6px;
        background-color: #999999;
        margin-right: 10px;

        &.active {
            background-color: rgb(44, 177, 44);
        }
    }
}
