$body-color: #0A111B;
$text-color: #fff;
$montserrat-font: 'Montserrat', sans-serif;
$open-sans-font: 'Open Sans', sans-serif;
$light-text-color: #ABC1DF;
$box-color: #444b58;
$blue-color: #0193FF;
$purple-color: #627EEA;
$time-blue: #A5B7D7;
$footer-color: #242F47;

$type-beginner: #617496;
$type-medium: #FFD43A;
$type-advanced: #0193FF;

$dark-gold: #9D6027;
$light-gold: #F9E686;

$alert-primary-main: #910bc9;
$alert-primary-secondary: #e100ff;
$alert-primary-title: #f9b8ff;
$alert-primary-text: #d181ff;

$alert-error-main: #8a1818;
$alert-error-secondary: #a93232;
$alert-error-title: #ffb8b8;
$alert-error-text: #ff8181;

$alert-success-main: #144a36;
$alert-success-secondary: #32a986;
$alert-success-title: #c9ffdc;
$alert-success-text: #81ffb9;

$alert-info-main: #18668a;
$alert-info-secondary: #3287a9;
$alert-info-title: #b8e5ff;
$alert-info-text: #81d1ff;

$alert-warning-main: #c77e11;
$alert-warning-secondary: #ffae19;
$alert-warning-title: #ffe0b8;
$alert-warning-text: #ffe281;

$loader-dark: #2f3247;
$loader-light: #393c55;

$button: #520e86;
$button-disabled: #7e7e7e;
$button-primary: #e100ff;
$button-secondary: #0193FF;
$button-danger: #a93232;
$button-success: #32a986;
$button-info: #3287a9;
$button-warning: #ffae19;