@import "../../variables.scss";

#dashboard-menu {
    height: 100%;
    transition: 200ms;
    z-index: 40;

    .hamburger-menu {
        position: absolute;
        right: -50px;
        bottom: 36px;
        border-radius: 0 10px 10px 0;
        border: 1px solid $footer-color;
        border-left: none;
        height: 50px;
        width: 50px;
        display: none;
        font-size: 10px;
        align-items: center;
        justify-content: center;
        background: $box-color;
    }

    .right {
        flex: 1 1;
        padding: 20px;
        display: none;
        flex-direction: column;
        height: 100%;
        width: 280px;
        background: #FFFFFF;
        transition: 200ms;
        border: none;


        &.active {
            display: flex;
        }

        .mr-5 {

            text-decoration: none;
            text-align: center;
            align-items: center;
            height: 72px;
            border-bottom: 1px solid #EAEAEF;

            .top {
                margin-bottom: 20px;
                display: flex;
                align-items: center;

                .logo-image {
                    width: 32px;
                    height: 32px;


                }

                .proleads {
                    display: flex;
                    flex-direction: column;
                    font-size: 14px;
                    text-decoration: none;
                    margin-left: 6px;

                    .hed {
                        text-decoration: none;
                        margin-bottom: -15px;
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 14px;
                        color: #32324D;
                    }

                    .inb {
                        text-decoration: none;
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        color: #666687;
                        margin-right: 17px;
                    }
                }


            }
        }

        .menu {
            flex: 1;
            overflow: hidden;
            overflow-y: auto;
            border-radius: 0.3;

            .menu-item {
                margin-top: -20px;
                margin-bottom: 10px;

                .top-menu-item {
                    padding: 10px 0;
                    position: relative;
                    border-radius: 10px;
                    font-family: 'Inter';
                    font-style: normal;
                    color: #666687;
                    transition: 200ms;
                    display: flex;
                    align-items: center;
                    padding-bottom: 5px;

                    .icon {
                        width: 34px;
                        height: 34px;
                        margin-right: 10px;
                        border-radius: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: 700;
                    }

                    .title {
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 11px;
                        line-height: 16px;
                        text-transform: uppercase;
                    }

                    .title2 {
                        width: 148px;
                        height: 16px;

                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 20px;
                    }
                }

                .links {
                    text-decoration: none;
                }

                >ul {
                    display: none;
                    text-decoration: none;

                    &.active {
                        display: block;
                        margin-left: -20%;
                    }

                    li {
                        margin-left: 30px;
                        display: flex;
                        flex-direction: row;
                        padding: 4px 15px;
                        position: relative;
                        border-radius: 10px;
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 20px;
                        color: #666687;
                        transition: 200ms;
                        list-style: none;
                        text-decoration: none;
                        text-align: center;

                        .flex {
                            display: flex;
                        }

                        .icon {
                            width: 12px;
                            height: 12px;
                            margin-right: 10px;
                            border-radius: 3px;
                            display: flex;
                            align-items: center;
                            text-align: center;
                            justify-content: center;
                            font-weight: 500;
                            font-size: 1em;
                            margin-top: 3px;
                            margin-top: 17px;
                        }



                        &.active {
                            font-weight: bold;
                            color: #6BE29A;
                        }

                        .title {
                            line-height: 1em;
                            text-decoration: none;
                        }

                        .desc {
                            font-size: 0.7em;
                            color: $light-text-color;
                        }
                    }
                }
            }
        }

        .logoutBar {
            display: flex;
            justify-content: space-between;
            margin-bottom: 25px;
            .userInfo {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 20px;
                margin-bottom: -20px;
            }

            .userRole {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 20px;
            }

            .logout {
                margin-left: auto;
                cursor: pointer;
                transition: 200ms;
                color: $light-text-color;
                

                &:hover {
                    color: #6BE29A;
                }
            }
        }


    }




    @media screen and (max-width: 1024px) {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        transform: translateX(-280px);

        .hamburger-menu {
            display: flex;
        }

        &.active-mobile {
            transform: translateX(0);
        }
    }
}